# Default ignored files
/shelf/
/workspace.xml
/.idea
**/__pycache__

# pytest
**/.pytest_cache

# mutmut
**/.mutmut-cache
mutmut_result
/html
*.bak

forwarder.py

# pliki virtualne
.venv/

# searcher files
output.txt

# pickle files
save.pickle
save/